    
    
    <div *ngFor="let data of AllData" class="col-md-3 col-sm-4 col-xs-6 tile_stats_count" >
      <app-counter [counterData]="data">
        <!-- Specify Icon -->
        <i class="fa fa-user" aria-hidden="true"></i>
      </app-counter>
    </div>
    <!--<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
      <app-counter>
        
        <i class="fa fa-bitbucket" aria-hidden="true"></i>
      </app-counter>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
      <app-counter>
        
        <i class="fa fa-angellist" aria-hidden="true"></i>
      </app-counter>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
      <app-counter>
        
        <i class="fa fa-file" aria-hidden="true"></i>
      </app-counter>
    </div>-->
